:root {
    --font-family: monospace;
    --font-size: 1rem;
    --font-weight: 400;
    --line-height: 1.5;
    --text-color: #858796;
    --background-color: #0d1117;
    --link-color: rgba(10, 142, 237, 0.86);
    --link-hover-color: #2b91d1;
    --border-color: rgba(255, 255, 255, 0.23);
    --shadow-color: rgba(170, 189, 193, 0.44);
}

body {
    font-family: var(--font-family);
    font-size: var(--font-size);
    font-weight: var(--font-weight);
    line-height: var(--line-height);
    color: var(--text-color);
    background-color: var(--background-color);
}

.wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 3rem 0;
}

#content {
    overflow: auto;
}

blockquote {
    background-color: rgba(204, 199, 240, 0.14);
    border: 1px solid rgba(255, 255, 255, 0.14);
    border-left: 6px solid rgba(255, 255, 255, 0.49);
    padding: 0.5rem 1rem;
    margin-bottom: 1rem;
}

a {
    color: var(--link-color);
}

a:hover {
    color: var(--link-hover-color);
}

code {
    border: 1px solid rgba(136, 131, 131, 0.18);
    background-color: rgba(117, 179, 220, 0.43);
    border-radius: 0.25rem;
}

#terminal {
    display: flex;
    justify-content: center;
    align-items: center;
}

#header {
    text-align: center;
    font-family: var(--font-family);

}

canvas:focus {
    outline: none;
}

input[type="checkbox"] {
    width: 20px;
    height: 20px;
    outline: none;
    background: rgba(255, 255, 255, 0.19);
    transition: 0.5s;
    cursor: pointer;
    margin: 0;
    position: relative;
}

input[type="checkbox"]:checked {
    background: rgba(255, 255, 255, 0.74);
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: rgba(116, 82, 185, 0.16);
    border: 1px solid var(--border-color);
}

th, td {
    border: 1px solid var(--border-color);
    background-color: rgba(255, 255, 255, 0.05);
    padding: 0.5rem 1rem;
    text-align: left;
}

tr:nth-child(even) {
    background-color: rgba(255, 255, 255, 0.05);
}

tr:hover {
    background-color: rgba(255, 255, 255, 0.14);
}

ul {
    list-style: none;
    padding-left: 0;
}

li {
    padding-left: 1.5rem;
    position: relative;
}

li::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0.85rem;
    width: 0.25rem;
    height: 0.25rem;
    border-radius: 50%;
    border: 1px solid #ffffff;
    background-color: #000000;
    transition: 0.5s;
}

footer {
    text-align: center;
    padding: 1rem;
    font-size: 1.5rem;
    font-family: var(--font-family);
}

footer a {
    color: rgba(117, 183, 234, 0.88);
}

#loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(38, 36, 36, 0.45);
    backdrop-filter: blur(10px);
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader {
    border: 8px solid rgba(210, 202, 202, 0.2);
    border-radius: 50%;
    border-top: 8px solid #4949e5;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
    will-change: transform;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#loading-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 5px;
    background-color: transparent;
    z-index: 9999;
}

#loading-bar::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background-color: #0000ff;
    animation: loading 2s linear infinite;
    box-shadow: 0 0 10px #00b7ff;
    will-change: transform;
}

@keyframes loading {
    0% { transform: translateX(0); }
    100% { transform: translateX(100%); }
}

@media (max-width: 768px) {
    .wrapper {
        padding: 1rem 0;
    }

    #content {
        padding: 0.5rem;
    }
}