body{
    font-family: monospace;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #858796;
    background-color: #0d1117;
}
.wrapper{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 3rem 0;
}

#content{
    overflow: auto;
    padding: 1rem;
    margin: 1rem 0;
    border-radius: 0.5rem;
    box-shadow: 0 0 30px #aabdc16f;
}
blockquote{
    background-color: #ccc7f024;
    border: 1px solid #ffffff24;
    border-left: 6px solid #ffffff7d;
    padding: 0.5rem 1rem;
    margin: 0 0 1rem 0;
}

/* 定义 链接样式 使得其在深色背景下更加利于阅读 */
a{
    color: rgba(10, 142, 237, 0.862);   
}
a:hover{
    color: #2b91d1;
}

code{
    border: 1px solid #8883832e;
    background-color: #75b3dc6d;
    border-radius: 0.25rem;
}

#terminal{
    /* 子标签居中 */
    display: flex;
    justify-content: center;
    align-items: center;
}

#header{
    text-align: center;
    font-family: monospace;
}

canvas{
    /* 阴影 模仿油管 影院灯效 */
    box-shadow: 0 0 100px #558198a7;
    border-radius: 0.5rem;
    /* 边框 */
    border: 1px solid #fefefe4e;
}


canvas:focus {
    outline:none;
}

/* check box 样式修改 使之更加美观 */
input[type=checkbox] {
    width: 20px;
    height: 20px;
    outline: none;
    background: #ffffff30;
    transition: .5s;
    cursor: pointer;
    margin: 0 0 0 0;
    position: relative;
}

input:checked[type=checkbox] {
    background: #ffffffbc;
}


table{
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    border: 1px solid #ffffff3a;
    background-color: #3d1e448b;
    color: #ffffff;
}

table th{
    border: 1px solid #ffffff3a;
    background-color: #ffffff0d;
    color: #ffffff;
    padding: 0.5rem 1rem;
    text-align: left;
}
table td{
    border: 1px solid #ffffff3a;
    background-color: #ffffff0d;
    color: #ffffff;
    padding: 0.5rem 1rem;
    text-align: left;
}

table tr:nth-child(even){
    background-color: #ffffff0d;
}

table tr:hover{
    background-color: #ffffff24;
}

.test {
    color: #d4dbe197;
}

ul{
    list-style: none;
    padding-left: 0;
}

li{
    padding-left: 1.5rem;
    position: relative;
}
li:before {
    /* 黑色与白色空心同心圆造型 */
    content: '';
    position: absolute;
    left: 0;
    top: 0.85rem;
    width: 0.25rem;
    height: 0.25rem;
    border-radius: 50%;
    border: 1px solid #ffffff;
    background-color: #000000;
    transition: .5s;
}

footer{
    text-align: center;
    padding: 1rem;
    font-size: 1.5rem;
    font-family: monospace;
}

footer a{
    color: #75b7eae0;
}
#loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(38, 36, 36, 0.452);
    /* 背景模糊 */
    backdrop-filter: blur(10px);

    z-index: 9999; /* 确保加载动画位于其他内容之上 */
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader {
    border: 8px solid #d2caca34;
    border-radius: 50%;
    border-top: 8px solid #4949e5;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite; /* 旋转动画 */
}


@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#loading-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 5px;
    background-color: #00000000;
    z-index: 9999;
}

#loading-bar::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background-color: #0000ff;
    animation: loading 2s linear infinite;
    box-shadow: 0 0 10px #00b7ff;
}

@keyframes loading {
    0% {
        left: 0;
        width: 0;
    }
    10% {
        left: 10%;
        width: 10%;
    }
    20% {
        left: 20%;
        width: 20%;
    }        
    30% {
        left: 30%;
        width: 30%;
    }
    100% {
        left: 100%;
        width: 10%;
    }

}

  /* 隐藏滚动条 */
::-webkit-scrollbar {
    display: none;
}